@model IEnumerable<SSLS.Domain.Concrete.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Admin")">后台主页</a></li>
        <li class="active">类别列表</li>
    </ol>
</section>
<div class="rightbody">
    <div class="box-wrap">
        <h6 class="box-title">类别列表</h6>
        <a href="@Url.Action("CategoryCreate", "Admin")" class="btn btn-primary btn-add"><i class="glyphicon glyphicon-plus"></i>添加</a>
        <table class="mytable">
            <tr>
                <th class="">类别ID</th>
                <th>类别编号</th>
                <th>类别名称</th>
                <th class="wd20">操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="@Url.Action("CategoryEdit", "Admin", new { id =@item.Id})" class="label label-warning">
                            <span class="glyphicon glyphicon-edit"></span>编辑
                        </a>
                        <a onclick="layerwaring('确定要删除吗','{:url(\'post/del\',array(\'id\'=>$vo[\'id\']))}')" class="label label-danger">
                            <span class="glyphicon glyphicon-trash"></span>删除
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div class="text-right">
        </div>
    </div>
</div>

