@model SSLS.WebUI.Models.AdminAllModel
@{
    ViewBag.Title = "后台主页";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li class="active">控制面板</li>
    </ol>
</section>
<div class="rightbody">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("BookList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Books.Count()</b>
                    <h6>图书</h6>
                </div>
                <i class="glyphicon glyphicon-book"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("CategoryList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Categorys.Count()</b>
                    <h6>类别</h6>
                </div>
                <i class="glyphicon glyphicon-bookmark"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("ReaderList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Readers.Count()</b>
                    <h6>读者</h6>
                </div>
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("BorrowStatistics", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Borrows.Count()</b>
                    <h6>借阅</h6>
                </div>
                <i class="glyphicon glyphicon-duplicate"></i>
            </a>
        </div>
     </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box-wrap">
                <h6 class="box-title">类别-图书</h6>
                <div id="BC_Chart" style="height:360px;"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box-wrap">
                <h6 class="box-title">最新借阅消息</h6>
                <ul class="myul">
                    @foreach(var b in @Model.Borrows.OrderByDescending(b=>b.Id).Take(5))
                    {
                        <li>@b.BorrowDate.ToString("yyyy/MM/dd HH:mm:ss") <b class="tip" onclick="layerReader('/Admin/ReaderDetail?id=@b.Reader.Id')">@b.Reader.Name</b> 借阅 《<b>@b.Book.Name</b>》 图书</li>
                    }
                </ul>
            </div>
            <div class="box-wrap">
                <h6 class="box-title">最新还书消息</h6>
                <ul class="myul">
                    @foreach (var b in @Model.Borrows.Where(b=>b.State!="在借").OrderByDescending(b => b.ReturnDate).Take(5))
                    {
                        <li>@b.BorrowDate.ToString("yyyy/MM/dd HH:mm:ss") <b class="tip" onclick="layerReader('/Admin/ReaderDetail?id=@b.Reader.Id')">@b.Reader.Name</b> 归还 《<b>@b.Book.Name</b>》  图书</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

