@model SSLS.WebUI.Models.AdminAllModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li class="active">控制面板</li>
    </ol>
</section>
<div class="rightbody">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("BookList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Books.Count()</b>
                    <h6>图书</h6>
                </div>
                <i class="glyphicon glyphicon-book"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("CategoryList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Categorys.Count()</b>
                    <h6>类别</h6>
                </div>
                <i class="glyphicon glyphicon-bookmark"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("ReaderList", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Readers.Count()</b>
                    <h6>读者</h6>
                </div>
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="@Url.Action("BorrowStatistics", "Admin")" class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Borrows.Count()</b>
                    <h6>借阅单</h6>
                </div>
                <i class="glyphicon glyphicon-duplicate"></i>
            </a>
        </div>
     </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box-wrap">
                <h6 class="box-title">类别图书</h6>
                <div id="BC_Chart" style="height:360px;"></div>
            </div>
        </div>
    </div>
</div>

