@model SSLS.WebUI.Models.ReadersListModel
@{
    ViewBag.Title = "读者列表";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Admin")">后台主页</a></li>
        <li class="active">读者列表</li>
    </ol>
</section>
<div class="rightbody">
    <div class="box-wrap">
        <h6 class="box-title">读者列表</h6>
        <table class="mytable">
            <tr>
                <th class="">读者ID</th>
                <th class="">读者编号</th>
                <th>读者昵称</th>
                <th>读者班级</th>
                <th class="">读者邮箱</th>
                <th class="">借阅次数</th>
                <th class="wd20">操作</th>
            </tr>
            @foreach (var item in Model.Readers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Class</td>
                    <td>@item.Email</td>
                    <td>@item.Borrow.Count()</td>
                    <td>
                        <a onclick="layerReader('/Admin/ReaderDetail?id=@item.Id')" class="label label-warning">
                            <span class="glyphicon glyphicon-edit"></span>查看
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div class="text-right">
            @Html.PageLinks(Model.PagingInfo,
   x => Url.Action("BookList", new { page = x }))
        </div>
    </div>
</div>



