@using SSLS.Domain.Concrete
@model SSLS.WebUI.Models.CheckoutModel

@{
    ViewBag.Title = "借阅结果";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("List", "Book")">主页</a></li>
    <li><a href="@Url.Action("Index", "Cart")">图书暂存架</a></li>
    <li class="active">借阅结果</li>
</ol>

<div class="Cart_bg">
    <h3 class="text-center">借阅成功！</h3>
    <table class="Checkout_reader">
        <tr>
            <th style="width: 40%;">借阅书籍：</th>
            <td>
             @if (Model.Books.Count > 0)
            {
                foreach (Book b in Model.Books)
                {
                    @("《"+b.Name+"》 ")
                }
            }
         </td>
        </tr>
        <tr>
            <th>借阅日期：</th>
            <td>@DateTime.Now</td>
        </tr>
        <tr>
            <th>应还日期：</th>
            <td>@DateTime.Now.AddMonths(1)</td>
        </tr>
        <tr>
            <th>借阅读者：</th>
            <td>@Model.Reader.Name (@Model.Reader.Code)</td>
        </tr>
    </table>
    <div class="text-center">
        <a href="@Url.Action("List", "Book")" class="btn bgblue">继续借阅</a>
        <a href="@Url.Action("MyBorrow", "Borrow")" class="btn bggray">查看借阅</a>
    </div>
</div>
