@model SSLS.Domain.Concrete.Cart



<li title="暂存架"><a href="@Url.Action("Index", "Cart")"><span class="glyphicon glyphicon-shopping-cart"><span class="cart_total">@Model.Lines.Count()</span></span></a></li>

@*<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-shopping-cart"><span class="cart_total">@Model.Lines.Count()</span></span>
    </a>
    <ul class="dropdown-menu">

        <li><a href="@Url.Action("Index", "Cart")">已选择<span class="badge cart_badge">@Model.Lines.Count()</span></a></li>

    </ul>
</li>*@