@model SSLS.WebUI.Models.ReaderModel

@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<ol class="breadcrumb">
    <li><a href="@Url.Action("List", "Book")">主页</a></li>
    <li class="active">个人中心</li>
</ol>

<div class="Cart_bg">
    <div class="row">
        <div class="user">
            <div class="awater text-center">
                <span class="glyphicon glyphicon-user"></span>
                <p>@Model.Reader.Name (@Model.Reader.Code)</p>
            </div>
            <div>
                <table class="Checkout_reader">
                    <tr>
                        <th>班级：</th>
                        <td>@Model.Reader.Class</td>
                    </tr>
                    <tr>
                        <th>邮箱：</th>
                        <td>@Model.Reader.Email</td>
                    </tr>
                    <tr>
                        <th>余额：</th>
                        <td>@Model.Reader.Price￥</td>
                    </tr>
                </table>
                <div class="text-left">
                    <a href="@Url.Action("ModifyData", "Reader")" class="btn bggray">修改资料</a>
                    <a href="@Url.Action("Recharge", "Reader")" class="btn bgtheme">充值余额</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <a href="@Url.Action("MyBorrow", "Borrow")" class="My_block bgtheme">
                <div>
                    <h2>@Model.Borrows.Count(c => c.State == "在借")</h2>
                    <p>当前借阅</p>
                </div>
                <span class="glyphicon glyphicon-duplicate"></span>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="@Url.Action("BorrowHistory", "Borrow")" class="My_block bggray">
                <div>
                    <h2>@Model.Borrows.Count(c => c.State != "在借")</h2>
                    <p>借阅历史</p>
                </div>
                <span class="glyphicon glyphicon-hourglass"></span>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="@Url.Action("Index", "Fine")" class="My_block">
                <div>
                    <h2>@Model.Fines.Count(f => f.State == "待缴纳")</h2>
                    <p>我的罚单</p>
                </div>
                <span class="glyphicon glyphicon-jpy"></span>
            </a>
        </div>
    </div>
</div>
