@model SSLS.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="login_bg"></div>
<div class="Mypanel panel panel-info">
    <div class="login_logo">
        <a href="#"><img src="/PImages/img/logo.png" alt="" /></a>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>UserCode</label>
                @Html.TextBoxFor(c => c.Code,"", new { Value="123456",@class = "form-control" })
                @Html.ValidationMessageFor(c => c.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(c => c.Password, new {Value="123456", @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group myCode">
                <div>
                    <label>ValidataCode</label>
                    <input class="form-control" type="text" name="Vcode" id="Vcode" />
                    @Html.ValidationMessageFor(c => c.Vcode, "", new { @class = "text-danger" })
                </div>
                <img src="/Reader/VCode" onclick="this.src=this.src+'?'" alt="验证码" style="cursor:pointer" />
            </div>
            <div class="text-center">
                <input type="submit" value="LOGIN" class="btn login_btn" />
                <a href="@Url.Action("Register", "Reader")" class="login_to">还没有账号？前往注册....</a>
            </div>
        }
    </div>
</div>

