@model SSLS.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="login_bg"></div>
<div class="Mypanel panel panel-info">
    <div class="login_logo">
        <a href="#"><img src="/PImages/img/logo.png" alt="" /></a>
    </div>
    <div class="panel-body layui-form">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>UserCode</label>
                <div class="input-warp">
                    <i class="glyphicon glyphicon-user"></i>
                    @if (TempData["Register_code"] != null)
                    {
                        @Html.TextBoxFor(c => c.Code, "", new { Value = TempData["Register_code"], @class = "form-control", @lay_verify = "required" })
                    }
                    else
                    {
                        @Html.TextBoxFor(c => c.Code, "", new { @class = "form-control",@lay_verify="required" })
                    }
                </div>
                @Html.ValidationMessageFor(c => c.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Password</label>
                <div class="input-warp">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.PasswordFor(c => c.Password, new { @class = "form-control", @lay_verify = "required" })
                </div>
                @Html.ValidationMessageFor(c => c.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group myCode">
                <div>
                    <label>ValidataCode</label>
                    @Html.TextBoxFor(c => c.Vcode, new { @class = "form-control", @lay_verify = "required" })
                    @Html.ValidationMessageFor(c => c.Vcode, "", new { @class = "text-danger" })
                </div>
                <img src="/Reader/VCode" onclick="this.src=this.src+'?'" alt="验证码" style="cursor:pointer" />
            </div>
            <div class="text-center">
                <input type="submit" lay-submit value="LOGIN" class="btn login_btn"  />
                <a href="@Url.Action("Register", "Reader")" class="login_to">还没有账号？前往注册....</a>
            </div>
        }
    </div>

</div>

