@model SSLS.WebUI.Models.BorrowViewModel
@{
    ViewBag.Title = "借阅历史";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("List", "Book")">主页</a></li>
    <li><a href="@Url.Action("Index", "Reader")">个人中心</a></li>
    <li class="active">借阅历史</li>
</ol>

<div class="Cart_bg">
    <div class="touch-wrap">
        <table id="cartTable" class="table touch_table">
            <caption class="text-center">借阅历史</caption>
            <thead>
                <tr>
                    <th width="20%">图书</th>
                    <th>图书详情</th>
                    <th>借阅详情</th>
                    <th width="">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">是否超期(@(Model.IsOver == 2 ? "否" : (Model.IsOver == 1 ? "是" : "ALL"))) <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="@Url.Action("BorrowHistory", "Borrow", new { isOver = 0 })">全部</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("BorrowHistory", "Borrow", new { isOver = 1 })">超期</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("BorrowHistory", "Borrow", new { isOver = 2 })">未超期</a></li>
                            </ul>
                        </div>
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrow in Model.Borrows)
                {
                    <tr>
                        <td class="Cart_book">
                            <a href="@Url.Action("Detail", "Book", new { id = borrow.Book.Id })">
                                <img src="@borrow.Book.ImageUrl" alt="@borrow.Book.Name" width="100%">
                            </a>
                        </td>
                        <td style="text-align:left">
                            <div class="Cart_datail">
                                <div>
                                    <span>书名:</span><div>《@borrow.Book.Name》</div>
                                </div>
                                <div>
                                    <span>作者:</span><div>@borrow.Book.Authors</div>
                                </div>
                                <div>
                                    <span>出版社:</span><i>@borrow.Book.Press</i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="Cart_datail">
                                <div>
                                    <span>借书日期:</span><div>@borrow.BorrowDate</div>
                                </div>
                                <div>
                                    <span>应还日期:</span><div>@borrow.ShouldDate</div>
                                </div>
                                <div>
                                    <span>归还日期:</span><div>@borrow.ReturnDate</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="label @(borrow.State == "超期" ? "bgred" : "bggreen")">@(borrow.State == "超期" ? "是" : "否")</span>
                        </td>
                        <td>
                            <a class="btn btn-sm bggray" href="@Url.Action("BorrowDetail", "Borrow", new { id = @borrow.Id })">查看详情</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="text-center">
            @Html.PageLinks(Model.PagingInfo,
                    x => Url.Action("BorrowHistory", new { isOver = Model.IsOver, page = x }))
        </div>

    </div>

