@model SSLS.WebUI.Models.BorrowViewModel
@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<ol class="breadcrumb">
    <li><a href="@Url.Action("List", "Book")">主页</a></li>
    <li class="active">个人中心</li>
</ol>

<div class="Cart_bg">
    @Html.Action("Summary", "Borrow")
    <hr />
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <a href="@Url.Action("MyBorrow", "Borrow")" class="My_block bgblue">
                <div>
                    <h3>@Model.Borrows.Count(c=>c.State=="在借")</h3>
                    <p>当前借阅</p>
                </div>
                <span class="glyphicon glyphicon-duplicate"></span>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="@Url.Action("BorrowHistory", "Borrow")" class="My_block bggray">
                <div>
                    <h3>@Model.Borrows.Count(c => c.State == "已归还")</h3>
                    <p>借阅历史</p>
                </div>
                <span class="glyphicon glyphicon-hourglass"></span>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="#" class="My_block">
                <div>
                    <h3>2</h3>
                    <p>我的罚单</p>
                </div>
                <span class="glyphicon glyphicon-jpy"></span>
            </a>
        </div>
    </div>
</div>