@model SSLS.Domain.Concrete.Reader

<div class="row">
    <div class="user">
        <div class="awater text-center">
            <span class="glyphicon glyphicon-user"></span>
            <p>@Model.Name (@Model.Code)</p>
        </div>
        <div>
            <table class="Checkout_reader">
                <tr>
                    <th>班级：</th>
                    <td>@Model.Class</td>
                </tr>
                <tr>
                    <th>邮箱：</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>余额：</th>
                    <td>@Model.Price￥</td>
                </tr>
            </table>
            <div class="text-left">
                <a href="#" class="btn bggray">修改资料</a>
                <a href="#" class="btn bggreen">充值余额</a>
            </div>
        </div>
    </div>
</div>