<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/error.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="Mywrapper">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("List", "Book")">SSLS</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Action("Summary", "Cart")
                        @Html.Action("Summary", "Reader")
                    </ul>

                </div>
            </div>
        </nav>
        <div class="Mybody">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <div class="itop"><span class="glyphicon glyphicon-chevron-up"></span></div>
        <div class="push"></div>     <!--分离页脚-->
    </div>
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - MANGYU</p>
    </footer>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jqZoom/xq_bigimg.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/totop.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>
        layer.ready(function () {
            if (@(TempData["msg_warning"] == null ? "false" : "true")) {
                layer.alert('@TempData["msg_warning"]', {icon: 0});
            }
            if (@(TempData["msg_success"] == null ? "false" : "true")) {
                layer.alert('@TempData["msg_success"]', {icon: 1});
            }
            if (@(TempData["msg_error"] == null ? "false" : "true")) {
                layer.alert('@TempData["msg_error"]', {icon: 2});
            }
            if (@(TempData["msg"] == null ? "false" : "true")) {
                layer.alert('@TempData["msg"]');
            }

        })
    </script>
</body>
</html>