@model SSLS.Domain.Concrete.Book


<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="Mythub thumbnail ">
       @if (@Model.Status!="在库"){
        <div class="book_state">
            <span>@Model.Status</span>
        </div>
        }
        <a href="#@Model.Id"><img src="@Model.ImageUrl" alt="@Model.Name"></a>
        <div class="caption">
            <h3 class="hheight"><a href="#@Model.Id">@Model.Name</a></h3>
            <p class="pheight">@Model.Description</p>
            <div class="myadd">
                <span class="spanPrice">@Model.Price.Value.ToString("c")</span>
                @*<p><a class="label label-danger">@Model.Authors</a></p>*@
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div class="pull-right">
                        @Html.HiddenFor(x => x.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" @(Model.Status == "在库" ? "" : "disabled") class="addto pull-right" value="选择" />
                    </div>
                }
                @*<a href="" class="addto pull-right">选择</a>*@
            </div>
        </div>
    </div>
</div>