@model SSLS.Domain.Concrete.Book



<div class="Mylist">
    <a href="#@Model.Id"><img src="@Model.ImageUrl" alt="@Model.Name"></a>
    <div class="Mylist_body">
        <h3 class="hheight"><a href="#@Model.Id">@Model.Name</a><span class="label @(Model.Status =="在库" ? "label-info":"label-danger")">@Model.Status</span></h3>
        <p class="pheight">@Model.Description</p>
        <p class="pull-right"><span>@Model.Press </span> <span>@Model.PublishDate.Value.ToString("d")</span></p>
        <p><a class="label book_label">@Model.Authors</a></p>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" @(Model.Status == "在库" ? "" : "disabled") class="addto pull-right" value="选择" />
            </div>
        }
        @*<a href="" class="addto pull-right">选择</a>*@
        <span class="spanPrice">@Model.Price.Value.ToString("c")</span>
    </div>
</div>



@*<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="Mythub thumbnail ">
        <a href="#@Model.Id"><img src="@Model.ImageUrl" alt="@Model.Id"></a>
        <div class="caption">
            <a href="#@Model.Id"><h3 class="hheight">@Model.Name</h3></a>
            <p class="pheight">@Model.Description</p>
            <span class="spanPrice">@Model.Price.Value.ToString("c")</span>
            <p><a class="label label-danger">@Model.Authors</a></p>

        </div>
    </div>
</div>*@