@model SSLS.Domain.Concrete.Book



<div class="Mylist">
    <a href="#@Model.Id"><img src="@Model.ImageUrl" alt="@Model.Id"></a>
    <div class="Mylist_body">
        <a href="#@Model.Id"><h3 class="hheight">@Model.Name</h3></a>
        <p class="pheight">@Model.Description</p>
        <span class="spanPrice">@Model.Price.Value.ToString("c")</span>
        <p><a class="label label-danger">@Model.Authors</a></p>
        <span class="label label-info pull-right">@Model.Status</span>
        <p><span>@Model.Press </span> <span>@Model.PublishDate.Value.ToString("d")</span></p>
    </div>
</div>



@*<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="Mythub thumbnail ">
        <a href="#@Model.Id"><img src="@Model.ImageUrl" alt="@Model.Id"></a>
        <div class="caption">
            <a href="#@Model.Id"><h3 class="hheight">@Model.Name</h3></a>
            <p class="pheight">@Model.Description</p>
            <span class="spanPrice">@Model.Price.Value.ToString("c")</span>
            <p><a class="label label-danger">@Model.Authors</a></p>

        </div>
    </div>
</div>*@